/* ------------------------- */
/* Footer                    */
/* ------------------------- */
.footer {
    background: #d97706;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 20px;
    min-width: 250px;
}

.footer-section h2 {
    color: #5a4328;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #f5a623;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #f5a623;
}

.footer-bottom {
    background: #D16E06;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-top: 1px solid #D16E06;
    font-size: 14px;
}