/* ------------------------- */
/* Navbar                    */
/* ------------------------- */
.navbar {
    background-color: #ffffff;
    padding: 15px 0;
}

.logo {
    height: 50px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #5a4328;
    position: relative;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-icon {
    height: 1.2em;
    width: auto;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #5a4328;
}

.navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #d97706;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
    width: 100%;
}

/* Responsivo */
@media (max-width: 991px) {
    .top-bar {
        text-align: center;
    }

    .navbar-nav {
        text-align: center;
    }
}
