/* ------------------------- */
/* Top Bar                   */
/* ------------------------- */
.top-bar {
    background-color: #d97706;
    padding: 5px 0;
}

.top-bar .top-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 14px;
}

.top-bar .top-link:hover {
    text-decoration: underline;
}